<nav class="file-links">
  <div>
    <img
      src="assets/browser/parent-directory.png"
      alt="parent directory image"
    />
    <a href="./glade-tunnel.html">Parent Directory</a>
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span></span>
    <span></span>
  </div>

  <div>
    <img
      src="assets/browser/text-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1ATy1ywJupCi-PEJ5894yY0g6JmYrG6NI?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >A-Thousand-Plateaus.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>3.1M</span>
  </div>

  <div>
    <img
      src="assets/browser/video-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1oAQES57hFvmHOiGvFqqMOJz3qLCcD4ma?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >Serial_Experiments_Lain_Full_Series_Cat_Power_Speaking_For_Trees_AMV.mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>2.7G</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1v6IF0v1sQTWOXW4PouoX6GYNoFdDxc1W?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >Sonic Youth - 02 - Tunic (Song For Karen).mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>5.8M</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1UTd5EL4JBHQGKgCFbwZEBTmhwe6e5nMx?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >ISawYourMommy-suicidal-tendencies.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>4.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1oODoDCPcQ0hggx3_0sRQHDH2D-N77Rve?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >EMA - Blood and Chalk (Official Audio).mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>4.6M</span>
  </div>

  <div>
    <img
      src="assets/browser/text-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1KzZO_5EXRKjwWHT2fbm4mfOw9XV5dRs3?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >Game-Magic-A-Designer’s-Guide-to-Magic-Systems.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>22.1M</span>
  </div>

  <div>
    <img
      src="assets/browser/text-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1CtCFQixfdBFIrxMTWfN80IpJZ73fDNwT?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >The-Undercommons_Fugitive-Planningand-Black-Study.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>1.3M</span>
  </div>

  <div>
    <img
      src="assets/browser/video-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1BgWn2hZ6-NZt21kS_-KmMEMesCWgauZ4?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >The Watermelon Woman 1996.mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>1.2G</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1mAlIo3yKLvfSFbCg4XVj3-IB48Iljanz?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >The Crüxshadows, Deception.mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>4.6M</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1OtsoUL1f4jiHI8m2ex_IU_YMrID9m51V?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >RikkiDontLoseThatNumber_skunk-baxter-likes-this-song-a-lot-he-played-it-with-steely-dan.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>39.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1VdNTDkBAPHdWGRId9EWawptGqtm0DQmr?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >IFeelLove-donna-summer.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>61.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/17cxudpBAMMbtAohVz0JH3mcivsrov3xo?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >11 M.I.A. - Sunshowers - www.torrentazos.com.mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>4.5M</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1efWscbgJ5PsWAoOTrB0r4bGKxK5CAd4R?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >blondie-CallMe.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>60.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/image-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1Lf0Xx6dm3Wv_PEpRe_PtpfxSt2Y6M12Q?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >【Ｐｒｉｎｔ ｔｈｉｓ ｃｏｕｐｏｎ】</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>115.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/13jA4m590F1VHHynczHX-_xUrhEgWkr40?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >cowboy-heehaw_____junkies_____••••••SweetJane.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>32.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1s-_OozPPXMty3jJYJGYUY3oXzthS16P7?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >FurElise.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>20.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1ZLkLr2JogaC3i3tSyPGP2af_X-365Rad?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >(っ◔◡◔)っ ♥ LUMP ♥</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>3.2M</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1XMnoNZFcdjFa_12LmMK0llsi5mM4OlNz?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >YoureNoGood_linda_ronstadt.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>25.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/video-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1V2kkbNBUuRv3c5YTvSt51NcoGzZwk2-S?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >theweathermen.mkv</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>1.4G</span>
  </div>

  <div>
    <img
      src="assets/browser/text-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1z62fdsk-410_VbesUgPAkxqp1dpgke28?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >Annotated - Audre Lorde - The Transformation of Silence into Language and
      Action.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>1.0M</span>
  </div>

  <div>
    <img
      src="assets/browser/text-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1H2sy5bk3cPnwNlltVF3AblgOQD9YKbH1?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >Polite Terrorism.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>50.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/file-folder.png"
      alt="reference to icon &/or link name img file"
    />
    <a href="./necro-slide.html">Funeralopolis - Electric Wizard</a>
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span></span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1EB-7uBtrn22lDUt4YDkZnbHMBkzsK2mO?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >LetsStayTogether-al-green.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>56.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1OadyEwv_w8NTgrmNOcw2N4nVr-G8F2Sp?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >LetTheGoodTimesRoll-thecars.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>32.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/text-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1IrEvIrf_jsUDwefFAp4qGqboHXxdD8Xv?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >ⱫØ₥฿łɆ ₣ØⱤ₥₳Ⱡł₴₥ #1 DEBT AESTHETICs.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>922.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/text-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1dML39sFFGM03P4ploUk3C48TARVgCGgV?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >ⱫØ₥฿łɆ ₣ØⱤ₥₳Ⱡł₴₥ #2 DEBT AESTHETICs</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>246.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1DfpDGh4Y8ZKrRU4TlvarAiIZ-W7noBHH?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >ₛₑₓ ₚᵢₛₜₒₗₛ ₚᵣₒbₗₑₘₛ</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>4.0M</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1ZuVeH6izw9yZEuvi8dLQC3GOQoLqzX_m?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >You Are the Generation That Bought More Shoes and You Get What You
      Deserve.mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>4.3M</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1EHCZ9-EXJeWnVSlx9toM4M-hExsAI3uv?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >yachtrocjers_zcsxz-steelydan-ReelingInTheYears.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>49.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1z4m98ycG6I_bMkNEd2Q9d_mXkcXK9Mdc?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >thepolice-MurderByNumbers.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>11.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1wHfX_w1DB7eeC6Hw6SMtoGbNCRVoxxH6?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >Talib Kweli - Get By.mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>1.8M</span>
  </div>

  <div>
    <img
      src="assets/browser/text-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1U745x8bLMamwvjuoY9iRML_3PD5qkr3K?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >≋M≋o≋d≋e≋r≋n≋-≋A≋r≋t≋-≋w≋a≋s≋-≋a≋-≋C≋I≋A≋-≋W≋e≋a≋p≋o≋n≋_≋n≋v≋r≋5≋g≋e≋t≋.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>69.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/video-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1k1x0FZt8eo5exT6XoKPC_002-STJvbzA?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >Toys.1992.720p.HDTV.x264.AC3-REKD.mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>2.4G</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1s_IVAMURkCzUlRiuJU1aAfOUpiHl6ngd?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >boy-boy-boy-boy-george-KarmaChameleon.mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>45.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1BUot0gSY5Ce6gFBC25B9Ai1OwcwQMPF1?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >thepolice-Agile-Flask-is-now-preferred-over-analytics-MasokoTanga.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>41.0K</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files/1LZbsg6MKGR-jQY9mzi_BjUzHvLyRcIQi?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >05 Anarchy [God and the State].mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>5.3M</span>
  </div>

  <div>
    <img
      src="assets/browser/sound-file.png"
      alt="reference to icon &/or link name img file"
    />
    <a
      href="https://www.googleapis.com/drive/v3/files1b_8PXHEmpjjxP6qhrphy6sfDjvkhsWih?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >10 Le Pastie De La Bourgeoisie.mp4</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>7.3M</span>
  </div>
</nav>
