<nav class="file-links">
  <div>
    <img
      src="assets/browser/parent-directory.png"
      alt="parent directory image"
    />
    <a href="./key-2-my-heart.html">Parent Directory</a>
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span></span>
    <span></span>
  </div>

  <div>
    <img src="assets/browser/video-file.png" alt="cool video file icon" />
    <a
      href="https://www.googleapis.com/drive/v3/files/1PHT51OU6Z1V1U93QLZlaCQf3QVuYDRgU?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >s.hall_ratefloatsign-clsrm.mov</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>3.9G</span>
  </div>

  <div>
    <img src="assets/browser/text-file.png" alt="cool text file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1fJEQrBNWOvoSpFk6AiyeLltKzoGQqRTy"
      >DIS_Skintillates_r.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>716.0K</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1qDHq8f3RvRXkq9XP8x5l55zOK3wVxc-V"
      >Fame-bowie.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>40.0K</span>
  </div>

  <div>
    <img src="assets/browser/dead-file.png" alt="dead file" />
    <a href="">flamba_chi_newbie-hall-of-fame.txt</a>
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>66.6K</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1s_IVAMURkCzUlRiuJU1aAfOUpiHl6ngd"
      >boy-boy-boy-boy-george-KarmaChameleon.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>45.0K</span>
  </div>

  <div>
    <img src="assets/browser/text-file.png" alt="cool text file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1SsykJ1Baw8v8Tnfwmlk8yCN9JqY78pcR"
      >Rachel-Greene_Internet-Art-BOOK-2004copy.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>23.2M</span>
  </div>

  <div>
    <img src="assets/browser/text-file.png" alt="cool text file" />
    <a
      href="https://drive.google.com/uc?export=download&id=10h7zcu22C7yC3q6BLypVk5ENDdDxY2AA"
      >dadoes.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>291.0K</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1iT7yyHH8jfEorRbuZ2ZxKzeJL1ak1Ra2"
      >KidCharlemagne--yachtRWAKkings---??@?•∞•∞•∞•∞•∞•∞•steely•dan.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>54.0K</span>
  </div>

  <div>
    <img src="assets/browser/text-file.png" alt="cool text file" />
    <a
      href="https://drive.google.com/uc?export=download&id=16StP74Z3XlKX1V7B094b4o7CJ90MMaAG"
      >Robert-W-Williams_Politics-and-Self-in-the-Age-ofDigital-Reproducibility-ARTICLE-2005.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>314.0K</span>
  </div>

  <div>
    <img src="assets/browser/text-file.png" alt="cool text file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1CtCFQixfdBFIrxMTWfN80IpJZ73fDNwT"
      >The-Undercommons_Fugitive-Planningand-Black-Study.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>1.3M</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=15m0D7lx0zHIJg8Fs1IY1RDNtuhEnzhBv"
      >DeaconBlues-steely-dan.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>56.0K</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1hzIWlW9sG8TygBP0_Jt11WnaFw5Y2Zvq"
      >donald-fagen-Nightfly.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>45.0K</span>
  </div>

  <div>
    <img src="assets/browser/text-file.png" alt="cool text file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1CtCFQixfdBFIrxMTWfN80IpJZ73fDNwT"
      >The-Undercommons_Fugitive-Planningand-Black-Study.pdf</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>1.3M</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1m6AS4mMvA0S__PeiMxf_7v4zZfVEvXcw"
      >arethafranklin-YouMakeMeFeelLikeANaturalWoman.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>24.0K</span>
  </div>

  <div>
    <img src="assets/browser/video-file.png" alt="cool prepared video file" />
    <a
      href="https://www.googleapis.com/drive/v3/files/1X7glkjBdVdlYko8AZvf_jVKXmFtT_nC7?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >Neon Genesis + DC</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>7.5G</span>
  </div>

  <div>
    <img src="assets/browser/file-folder.png" alt="file folder icon" />
    <a href="./canopy.html">canopy1</a>
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span></span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1gXVuaMsxHrUoG27370ehs_0gS8jT2re-"
      >the-police-SecretJourney.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>17.0K</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1KvEO-M_HwTyGCKOfDFUVQTOkjjcZQXH7"
      >sade-the-broadbandharmonicdebuggedconvertercable-SmoothOperator.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>37.0K</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1l4YAa2wLHYnz1hDgN8uUUkyXk108-gBZ"
      >RehumanizeYourself-the-police.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>61.0K</span>
  </div>

  <div>
    <img src="assets/browser/image-file.png" alt="cool image file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1UQEiHDqsuOHV2YREiSaB7Fw8v1mO9kc1"
      >♕♚ Ťｈ𝓔 ᵖ𝓡𝓞¢𝐄ᔕ𝓼 ♦✋</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>2.4M</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1eGCkrYQVFrVV9m8sI71y7wn6yYFLJK1C"
      >PutALittleLoveInYourHeart__pre-internet__al-green.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>50.0K</span>
  </div>

  <div>
    <img src="assets/browser/file-folder.png" alt="file folder icon" />
    <a href="./moss-bank.html">moss_bank</a>
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span></span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1C8qh2WTtrClXHL_drETRCs3PckrI4Jrq"
      >SADE-SweetestTaboo.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>56.0K</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1KZWVqsHatJTVKj21Mh9HbqlMA4Bq8Ndl"
      >theclash-punkRAWK__@$_@#$_@-PoliceAndThieves.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>26.0K</span>
  </div>

  <div>
    <img src="assets/browser/file-folder.png" alt="file folder icon" />
    <a href="./animal-rave.html">PLUR</a>
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span></span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1tOh_AaoV9RNDuBZHazNXX2Dp5HCVp37f"
      >bowie_-0-0-_Changes_-0-0-_bowie.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>33.0K</span>
  </div>

  <div>
    <img src="assets/browser/dead-file.png" alt="dead file" />
    <a href=""
      >it'sthesechildrentheyknowmorethanwedotheydefinitelynknowmorethanyoudoandifyou'renotcarefulthey'llrealizeitbeforeit'stoolate.txt</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>999.9M</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=128NOCnwpNIQZnv3uFrfecGntpKxALu0h"
      >ItsAllICanDo-the-cars.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>25.0K</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1LV1ackFP1tJGmoYMZj7UO6JzhxLRXftM"
      >devo-PeekaBoo.mid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>25.0K</span>
  </div>

  <div>
    <img src="assets/browser/sound-file.png" alt="cool sound file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1D7rEfioSZkGHXm5jdx5NXocFmrtPcHuG"
      >JustWhatINeeded-thecars.midmid</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>23.0K</span>
  </div>

  <div>
    <img src="assets/browser/dead-file.png" alt="dead file" />
    <a href="">DND-BlueBook</a>
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>2.4M</span>
  </div>

  <div>
    <img src="assets/browser/image-file.png" alt="cool image file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1PsD_e79YguPI8D4j-zp99AWKle4Zl5W4"
      >𝔻𝕦𝕟𝕘𝕖𝕠𝕟 𝕄𝕒𝕤𝕥𝕖𝕣'𝕤 𝔾𝕦𝕚𝕕𝕖</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>10.4M</span>
  </div>

  <div>
    <img src="assets/browser/file-folder.png" alt="file folder icon" />
    <a href="./infra-thicket.html">Infra_Thicket</a>
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span></span>
  </div>

  <div>
    <img src="assets/browser/image-file.png" alt="cool image file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1w06VqBRmFn3eBqXlFAYfzRGjmkGdtL8X"
      >Indexed Player Handbook v3.5</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>20.7M</span>
  </div>

  <div>
    <img src="assets/browser/image-file.png" alt="cool image file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1ePTz22W7y9uBngJidyr7DvWmXcdHL1QQ"
      >😺♦ Μ𝓸𝕟Ş𝓉єŘ ｍΔภ𝓤𝐀ｌ 👺✌</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>9.2M</span>
  </div>

  <div>
    <img src="assets/browser/text-file.png" alt="cool text file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1nJ_UdbsmROC2ruBOkRpzW4s-tRZ-XZZe"
      >Annotated - Seth Price - Dispersion2008</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>1.3M</span>
  </div>

  <div>
    <img src="assets/browser/text-file.png" alt="cool text file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1ycxdrUQwuLtjCYygXId77y9H_2YH9B1E"
      >𝖃𝕷𝕽8 - 𝕬𝖈𝖈𝖊𝖑𝖊𝖗𝖆𝖙𝖎𝖔𝖓𝖎𝖘𝖙 𝕽𝖊𝖆𝖉𝖊𝖗</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>5.1M</span>
  </div>

  <div>
    <img src="assets/browser/text-file.png" alt="cool text file" />
    <a
      href="https://drive.google.com/uc?export=download&id=1tSPwHTFOCm8ku1sxEDB1zskNh0E5gcBT"
      >ᴬᵗʰˡᵉᵗⁱᶜ ᵃᵉˢᵗʰᵉᵗⁱᶜˢ</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>518.0K</span>
  </div>

  <div>
    <img src="assets/browser/video-file.png" alt="cool prepared video file" />
    <a
      href="https://www.googleapis.com/drive/v3/files/1mCGR7D3suhF9i6sBA8VsSbtEfyOn37V3?alt=media&key=AIzaSyD2Hhp5tXU8rAeWlYKs2_9QwWSHQnTEbiY"
      >H̷̛̜̼̎ÿ̶̧̛̙́p̴̘̗̈́e̷͔̺̐̚r̷̡̅n̸̺̻̒̑o̸͖̚ŕ̵̃ͅm̷̧̅̽a̵̪̐̀l̸̜̾͆i̷͈͝z̷̺͈̀ä̸̼̲t̶͖̀̆i̷̗̅o̷̰̓̌ͅn̷̬͕̅</a
    >
    <span>xxxx_xx_xx xx:xx:xx</span>
    <span>1.9G</span>
  </div>
</nav>
